<!DOCTYPE html>

<html>
  <head>
    <title>Jantar | Tsunix.de</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/png" href="/public/favicon.png" />
    <link rel="stylesheet" media="all" href="/public/css/style.css">
    <script type="text/javascript" src="/public/js/script.js"></script>
  </head>
  <body>
    <div id="topbar">
      <div class="container">
        <a href="">Tsunix</a>
      </div>
    </div>
    <div id="wrap">